/*Navbar block*/
.blog-masthead {
    background-color: #2c3e50;
    -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
    box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
    height: 100px;
}
.blog-nav{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 15px;
    font-family: FontAwesome;
    font-size: 20px;
}

.blog-nav-item {
    //margin-left: 25px;
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    color: #fff;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
    color: #18bc9c;
    text-decoration: none;
}

.blog-nav .active {
    //color: #18bc9c;
}
.blog-nav .active:after {
    /*    position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 0;
        margin-left: -5px;
        vertical-align: middle;
        content: " ";
        border-right: 5px solid transparent;
        border-bottom: 5px solid;
        border-left: 5px solid transparent;*/
}
/****************************************************************************/

.body_text{
    font-family: sans-serif;
    color: #2c3e50;
    //background-color:#f2f2f2;
}
/******************************************************************/
/*cap_site block*/
#head{
    height: 400px;
    background-color: #18bc9c;
}
.head-text{
    margin-top: 30px;
}
.img_maket{
    width: 250px; 
    height: 250px;
    content: url('../image/bank.png');
}

#head_maket{
    margin-top: 40px;
    text-align: center;
}
#head_maket h1{
    color: #2c3e50;
    margin-top: 30px;
}
/**********************************************************************/
#footer{
    margin-top: 50px;
    height: 200px;
    background-color: #18bc9c;
}
/******************************************************************/
/*index block*/
.main-body{
    margin-top: 50px;
}

#index_img{
    text-align: center;
}

#index_img img{
    content: url('../image/img1.jpg');
}
#do{
    margin-top: 50px;
    text-align: center;
}
#do_footer{
    margin-top: 50px;
    text-align: center;
    color: #fff;
}

#do_footer h1{
    margin-top: 30px;
    text-align: center;
}

#left_icon{
    width: 150px;
    height: 150px;
    content: url('../image/find.png');
}

#middle_icon{
    width: 150px;
    height: 150px;
    content: url('../image/set.png');
}

#right_icon{
    width: 150px;
    height: 150px;
    content: url('../image/edit.png');
}

#do .span4{
    text-align: center;
}
#do p{
    text-align: center;
    color: #2c3e50;
    margin-top: 20px;
}
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}
/***********************************************************************/

/*work_page*/
#p_lead{
    font-weight: 300;
    line-height: 1.4;
    color: #cdbfe3;
}
.title_head{
    color: #fff;
}

.menu{
    margin-top: 35px;
}
.logo{
    margin-top: 25px;
    width: 64px;
    height: 64px;
}
.into{
    margin-top: 25px;
    width: 64px;
    height: 64px;
}

.contacts{
    margin-top: 25px;
    color: white
}
.strip{

    height: 1px; 
    margin-top: 25px;
    background-color: #080808;    
}
.inn{

    height: 300px;
    background-color: lightgray;
}

.lb{
    color: #003bb3;
}

.lbl_item{
    font-family: Times New Roman, Times, serif;
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 18px;
    color: #0e90d2;
}
.lbl_item span{
    color: white;
    background-color: #0e0e0e;
}

#find_list{
    border: 1px #2c3e50 solid;
    border-radius: 4px;
    margin-top: 25px;
    height: 450px;
}
#list_credit{
    border: 1px #0e90d2 solid;
    border-radius: 4px;
    height: 400px;
}

#btn_txt_clr{
    color: #727272
}

#btn_all{
    margin-top: 20px;
    margin-left: 15px;
}
#btn_act{
    margin-top: 20px;
    margin-left: 15px;
}
.crd_img{
    margin-top: 5px;
    margin-left: 90px;
    width: 100px;
    height: 60px;
    background:url("../image/crd.png") no-repeat;
}

#btn_credit_edit{
    margin-top: 20px;
    margin-left: 80px;
}

#form_find{
    border: 1px #2c3e50 solid;
    border-radius: 4px;
    margin-top: 25px;
    height: 450px;
}

#form_credit{
    border: 1px #0e90d2 solid;
    border-radius: 4px;
    height: 400px;
}

.item_client_div{
    margin: 5px;
    height: 250px;
    border: 1px #0e90d2 solid;
    border-radius: 4px;
    background-color:#f2f2f2;
}

#item_photo{
    margin-top: 5px;
    height: 240px;
    width: 250px;
    border: 1px #f2f2f2 solid;
    border-radius: 4px;
    content: url('../image/ava_def.png');
}

#item_error{
    margin-top: 5px;
    width: 100%;
    background-color: #2a2a2a;
    border-radius: 4px;
}

#item_error li{
    color: #ffffff;
}
#itm{
    margin-top: 10px;
    height: 250px;
    border: 1px #2c3e50 solid;
    border-radius: 4px;
    background-color:#f2f2f2;
}
#item_bank{
    margin-top: 10px;
    height: 60px;
    border: 1px #2c3e50 solid;
    border-radius: 4px;
    background-color:#f2f2f2;
}
#item_bank label{
    margin-top: 5px;
}

#item_cur{
    margin-top: 10px;
    height: 60px;
    border: 1px #2c3e50 solid;
    border-radius: 4px;
    background-color:#f2f2f2;
}
#item_cur label{
    margin-top: 5px;
}
#allModal{
    visibility: hidden;
    height: 550px;
    width: 1000px;
    margin-left: -500px;
}
#addbank{
    visibility: hidden;
    height: 200px;
    width: 260px;
    margin-left: -200px;
}
#form_add_bank input{
    margin-top: 10px;
}
#form_add_bank button{
    margin-top: 10px;
}
#form_add_curr input{
    margin-top: 10px;
}
#form_add_curr button{
    margin-top: 10px;
}
#addcurr{
    visibility: hidden;
    height: 200px;
    width: 260px;
    margin-left: -200px;
}
#activeModal{
    height: 550px;
    width: 1000px;
    margin-left: -500px;
}

.status{
    margin-left: 50px;
    color: #0044cc;
}

#modal_cap{
    color: #ffffff;
    background-color: #0081c2;
}

#credit_item{
    background-color: #f2f2f2;
    margin: 5px;
    border: 1px #0e90d2 solid;
    border-radius: 4px;
}

#credit_item span{
    margin-left: 10px;
}
.down_site{
    background-color: #2f2f2f;
    color: white;
    width: 350px;
    border: 1px #2f2f2f solid;
    border-radius: 4px;
}

.message{
    margin-left: 20px;
    color: red;
    font-family: cursive;
}
.form_input{
    width: 177px;
}

#lst_credit{
    background-color: white;
    overflow-y: scroll;
    height: 320px;
}

#lst_client{
    background-color: white;
    overflow-x: hidden;
    height: 375px;
}

#message_error{
    margin-top: 15px;
    height: 100px;
    background: url('../image/error_icon.png') no-repeat;
}
